<ion-header>
  <ion-navbar>
    <div class="hdBatal">
      BATAL PEMANDUAN
    </div>
  </ion-navbar>
  <ion-toolbar no-border-top color="white">
    <ion-searchbar #q
      (search)="searchDermaga(q.value)"
      (ionCancel)="onCancel($event)"
      [showCancelButton]="true"
      autocomplete="off"
      placeholder="Cari lokasi batal tujuan pandu">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items; let i=index" (click)="getItem(item)">
      <span>{{ item.mdmgNama }}</span>
    </ion-item>
  </ion-list>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Lokasi batal tujuan
      </ion-label>
      <ion-note item-end> {{namaDermaga}} </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Kendala Operasional</ion-label>
      <ion-select [(ngModel)]="kendalaOperasional">
        <ion-option value="1">Awak Kapal Belum Siap</ion-option>
        <ion-option value="2">Dokument Kapal Belum Siap</ion-option>
        <ion-option value="3">Faktor Alam</ion-option>
        <ion-option value="4">Faktor Teknis</ion-option>
        <ion-option value="5">Pemeriksaan Imigrasi atau Karantina</ion-option>
        <ion-option value="6">Sarana Sedang Dipakai</ion-option>
        <ion-option value="7">Tidak Ada Sarana</ion-option>
        <ion-option value="9">Tunggu atau Antri pelayanan</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col>
            <button color="oranye" ion-button full (click)="cancel()">CANCEL</button>
        </ion-col>
        <ion-col>
            <button color="ijo-tua" ion-button full (click)="dismiss()">SUBMIT</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
</ion-content>
