page-tabs {
    .tab-badge{
        position: absolute;
        top: 6%;
        right: 0;
        padding: 1px 6px;
        height: auto;
        font-size: 12px;
        line-height: 16px;
    }
    
}
