page-detail-spk {
    .green-box{
        background-color:#39b54a;
        display:block;
        padding: 2px 0px;
                img{
                    margin: 0 auto;
                    display: block;
                    width:auto;
                }
    }

    

   
}
