alert-tolak-spk {
    .hdAlert{
        color: white;
        text-align: left;
        font-size: 20px;
    }
    .divAlert{
        width: auto;
        height: 70%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .textAlert{
        width: 100%;
        height: 100%;
    }
    h1{
        text-align:center;
        font-size: 36px;
    }
    .isi{
        font-size: 28px;
    }
}